<body>
    <video onloadedmetadata="this.muted=true" autoplay loop id="my-vid2">
        <source src="../../../assets/Videos/pexels-cottonbro-9694227.mp4" type="video/mp4">
    </video>
    <div class="container" id="summary-container">
        <div class="container" id="summ-content-wrapper">
            <h2 class="header" id="header-header">Your Order Has Been Placed</h2>
            <!-- {{Order.summary}} -->


            <!-- <p *ngFor="let item of (cart ? cart : []);let j = index">
                <a href="/main">{{item.potion.name}}</a>
                <span>{{item.potionQuantity}}</span><span class="price">{{(item.potion.potionvalue) *
                    (item.potionQuantity)}}</span>

            </p> -->
            <a href="/main">Continue Shopping</a><br>
            <a href="/checkout">Back to Cart</a>
        </div>
    </div>