<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <h2>Checkout</h2>
  <p>
    Enter your billing information below:
  </p>
  <div class="row">
    <div class="col-75">
      <div class="container">
        <form>
          <div class="row">
            <div class="col-50">
              <h3>Shipping Address</h3>
              <label for="fname"><i class="fa fa-user"></i> Full Name</label>
              <input type="text" id="fname" name="firstname" placeholder="John M. Doe" />
              <label for="email"><i class="fa fa-envelope"></i> Email</label>
              <input type="text" id="email" name="email" placeholder="john@example.com" />
              <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
              <input type="text" id="adr" name="address" placeholder="542 W. 15th Street" />
              <label for="city"><i class="fa fa-institution"></i> City</label>
              <input type="text" id="city" name="city" placeholder="New York" />

              <div class="row">
                <div class="col-50">
                  <label for="state">State</label>
                  <input type="text" id="state" name="state" placeholder="NY" />
                </div>
                <div class="col-50">
                  <label for="zip">Zip</label>
                  <input type="text" id="zip" name="zip" placeholder="10001" />
                </div>
              </div>
            </div>
          </div>

          <input type="submit" value="Place Order" class="btn" routerLink="/checkout-complete" />
          <input type="button" value="Continue Shopping" class="btn" routerLink="/main" />
        </form>
      </div>
    </div>
    <div class="col-25">
      <div class="container">
        <h3>Order Summary</h3>
        <h4>
          Cart
          <span class="price" style="color: black"><i class="fa fa-shopping-cart"></i></span>
        </h4>
        <p *ngFor="let item of (cart ? cart : []);let j = index">
          <button (click)="deleteOrderItem(j)">delete</button><a href="/main">{{item.potion.name}}</a>
          <span>{{item.potionQuantity}}</span><span class="price">{{(item.potion.potionvalue) *
            (item.potionQuantity)}}</span>

        </p>
        <hr />
        <p>
          Total <span class="price" style="color: black"><b>{{Total}}</b></span>
        </p>
      </div>
    </div>
  </div>
</body>

</html>