<nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex justify-content-between">
        <ul class="navbar-nav">
            
                <p style="text-align:right">
                    Welcome to the Alchem-E-Commerce Website
                    
                    <!--We could put an ICON HERE!! ( <img src="../../../assets/fdsfs.jpg" alt="variablename">  )-->
                </p>
                <p class="p2">an Alchemy product</p>
            <li class = "navbar-item" id="checkout-link" style="display:inline; padding-left:120px">
                <a class="nav-link" href="#grid-container">Browse Our Selection</a>
            </li>
            <li class = "navbar-item" id="logout-link" style="display:inline; padding-left:120px">
                <a class="nav-link" routerLink="">View Deals</a>
            </li>
            <li class = "navbar-item" id="logout-link" style="display:inline; padding-left:120px">
                <a class="nav-link" routerLink="">Back To Wizarding School Selection</a>
            </li>
            <li class = "navbar-item" id="logout-link" style="display:inline; padding-left:120px">
                <a class="nav-link" routerLink="">His/Hers</a>
            </li>
            <li class = "navbar-item" id="checkout-link" style="display:inline; padding-left:120px">
                <a class="nav-link" routerLink="/checkout">View Cart</a>
            </li>
            <li class = "navbar-item" id="logout-link" style="display:inline; padding-left:120px">
                <a class="nav-link" routerLink="/login">Logout</a>
            </li>
        </ul>
    </div>
</nav>
