
.navbar{
    background-color: whitesmoke;
    opacity: 80%;
    color: rgb(22, 109, 80);
}
p {
    font-size: 35px;
    color:rgb(22, 109, 80)
  }

.p2 {
    text-align: right;
    font-size:large;
    color: rgb(22, 109, 80);
}
html {
    scroll-behavior: smooth;
}