#myVid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}
#register-div {
  display: grid;
  position: fixed;
  justify-content: center;
  border: dotted wheat 2px;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: large;
  width: 30vw;
  left: 50%;
  top: 35%;
  min-width: 235px;
  transform: translate(-50%, -50%);
  opacity: 0.9;
  z-index: 1;
}
.container {
  opacity: 0.98;
}
div {
  border-radius: 10px;
  padding: 15px;
}
#reg-btn {
  margin: 10px 15px;
}
#myBanner {
  width: 100%;
  z-index: 3;
  position: relative;
}
