<div class="container"> <video onloadedmetadata="this.muted=true" autoplay loop id="myVid">
        <source src="../../../assets/Videos/Fire_41___45s___4k_res.mp4" type="video/mp4">
    </video>
    <div class="div" id="register-div">
        <form [formGroup]="registerForm" (submit)="register()">
            <h1>Create Account</h1>

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" formControlName="username" />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" formControlName="password" />
            </div><button type="submit" class="btn btn-primary" routerLink="/login">Submit</button>
            <a routerLink="/login">Login</a>

        </form>
    </div>
</div>