#myVid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}
#register-div {
  display: grid;
  position: relative;
  justify-content: center;
  border: dotted wheat 2px;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: larger;
  font-family: "Arboreto";
  width: 30vw;
  left: 46%;
  top: 30%;
  min-width: 235px;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.container {
  opacity: 0.98;
}
div {
  border-radius: 10px;
  padding: 15px;
}
#reg-btn {
  margin: 10px 15px;
  font-family: "Arboreto";
}
#myBanner {
  width: 100%;
  z-index: 1;
  position: relative;
}
