.grid-container {
  display: inline-grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  background-image: url(../../../assets/Imgs/brown-papyrus-paper.jpg);
  gap: 100px;
  background-attachment: fixed;
  background-size: 100%;
  padding: 25px;
  border-radius: 10px;
  max-width: 100vw;
  box-shadow: rgb(0, 0, 0) 5px 5px 5px 0px, rgb(0, 0, 0) 4px 4px 15px 0px inset,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.potion-card {
  border-style: solid;
  border-radius: 10px;
  border-width: 0.1em;
  background-image: url(../../../assets/Imgs/antique-brown-textured-paper.jpg);
  background-size: 100%;
  box-shadow: rgb(0, 0, 0) 5px 5px 5px 0px, rgb(0, 0, 0) 4px 4px 15px 0px inset,
    5px 5px 15px 5px rgba(0, 0, 0, 0);

  padding: 20px;
}
h2 {
  color: black;
}
p {
  color: black;
}

.pc-content-wrapper {
  position: relative;
  box-shadow: rgb(0, 0, 0) 5px 5px 5px 0px, rgb(0, 0, 0) 4px 4px 15px 0px inset,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 6%;
}
body {
  background-color: #18181a;
}
.nav-wrapper {
  padding-bottom: 700px;
  position: relative;
  background-image: url(../../../assets/Imgs/alchemy.jpg);
  background-repeat: no-repeat;
}
