<body>


  <div class="nav-wrapper">
    <app-main-navbar></app-main-navbar>
  </div>
  <div class="grid-container">
    <div *ngFor="let potion of potionsArray; let x = index" class="potion-card">
      <div class="pc-content-wrapper">
        <table>
          <thead>
            <th class="col-sm-1" style="text-decoration: underline; color: rgb(14, 33, 87)">
              Potion Name:
            </th>
            <th class="col-sm-1" style="text-decoration: underline; color: aliceblue">
              Description:
            </th>
          </thead>
          <tbody>
            <td style="color: rgb(14, 33, 87)" name="potionID" id="">
              {{ potion.name }}
            </td>
            <td style="color: aliceblue">{{ potion.description }}</td>
          </tbody>
        </table>

        <div>
          <input type="number" id="potionQuantity-{{ x }}" class="col-lg-3" name="numInput" id="numInput" />
          <button class="button" (click)="addPotionsToInventory(x, potion)">
            Purchase {{ potion.name }}
          </button>

        </div>
      </div>
    </div>
  </div>
</body>