<nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex justify-content-between">
        <ul class="navbar-nav">

            <p>
                Alchem-E-Commerce
                <!--We could put an ICON HERE!! ( <img src="../../../assets/fdsfs.jpg" alt="variablename">  )-->
            </p>

            <li class="navbar-item" id="checkout-link">
                <a class="nav-link" routerLink="/checkout">View Cart</a>
            </li>
            <li class="navbar-item" id="logout-link">
                <a class="nav-link" routerLink="">Logout</a>
            </li>
        </ul>
    </div>
</nav>