.navbar {
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  background-image: url(../../../assets/Imgs/alchemy.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 700px;
}
.navbar-nav {
  display: inline-grid;
  position: relative;
  list-style: none;
  min-width: 70%;
  font-family: "Arboreto";
  font-weight: bolder;
  background-color: rgba(100, 100, 100, 0.7);
  justify-items: center;
  border-radius: 10px;
  margin-left: 10%;
  padding-bottom: 15px;
  padding-left: 0;
  box-shadow: rgb(0, 0, 0) 5px 5px 5px 0px, rgb(0, 0, 0) 4px 4px 15px 0px inset,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.li-wrapper li {
  display: inline;
  margin-right: 100px;
  margin-left: 100px;
}
#logo-img {
  padding: 15px;
  box-shadow: rgb(0, 0, 0) 5px 5px 5px 0px, rgb(0, 0, 0) 4px 4px 15px 0px inset,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 10px;
  margin-top: 15px;
}
button {
  font-family: "Arboreto";
  margin-top: 15px;
  box-shadow: rgb(0, 0, 0) 5px 5px 5px 0px, rgb(0, 0, 0) 4px 4px 15px 0px inset,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
