.navbar {
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  background-image: url(../../../assets/Imgs/brown-papyrus-paper.jpg);
  background-size: 100%;
  margin-left: 2px;
  width: 50%;
}
p {
  font-size: 35px;
}
